$primary-color: #272727;
$secondary-color: #06c0ee;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Play", "Roboto", "Verdana";
	text-decoration: none;
	list-style: none;
}

@mixin transition-ease {
	transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
	@if (lightness($color) > 40%) {
		@return #000;
	} @else {
		@return #fff;
	}
}


@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}



// clip-path: polygon(100% 0, 100% 72%, 54% 100%, 0 100%, 0 0);
//https://bennettfeely.com/clippy/ - cria o clip-path
